In [3]:
from jupyter_plotly_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
from dash.dependencies import Input, Output

import pandas as pd
import numpy as np

In [4]:
covid_df = pd.read_csv("data/covid_19_clean_complete.csv")
covid_confirmed_df = covid_df[covid_df['Confirmed'] > 0]
covid_deaths_df = covid_df[covid_df['Deaths'] > 0]

covid_confirmed_df.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
49,Anhui,China,31.8257,117.2264,1/22/20,1,0,0
50,Beijing,China,40.1824,116.4142,1/22/20,14,0,0
51,Chongqing,China,30.0572,107.8740,1/22/20,6,0,0
52,Fujian,China,26.0789,117.9874,1/22/20,1,0,0
54,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
55,Guangxi,China,23.8298,108.7881,1/22/20,2,0,0
56,Guizhou,China,26.8154,106.8748,1/22/20,1,0,0
57,Hainan,China,19.1959,109.7453,1/22/20,4,0,0
58,Hebei,China,39.5490,116.1306,1/22/20,1,0,0
60,Henan,China,33.8820,113.6140,1/22/20,5,0,0

In [5]:
# take median of lat and long for each country, sum Confirmed
confirmed_grouped_df = covid_confirmed_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Confirmed': 'sum'}).reset_index()
confirmed_grouped_df.head(5)

  Country/Region     Date   Lat  Long  Confirmed
0    Afghanistan  2/24/20  33.0  65.0          1
1    Afghanistan  2/25/20  33.0  65.0          1
2    Afghanistan  2/26/20  33.0  65.0          1
3    Afghanistan  2/27/20  33.0  65.0          1
4    Afghanistan  2/28/20  33.0  65.0          1

In [6]:
# ensure animation frame is sorted correctly
confirmed_grouped_df['Date'] = pd.to_datetime(confirmed_grouped_df['Date']).dt.date
confirmed_grouped_df = confirmed_grouped_df.sort_values(by=['Date'])
confirmed_grouped_df['log_confirmed'] = np.log(confirmed_grouped_df['Confirmed'])
confirmed_grouped_df.head(5)

,Country/Region,Date,Lat,Long,Confirmed,log_confirmed
2951,China,2020-01-22,30.994279,113.461025,548,6.306275
14277,US,2020-01-22,37.090200,-95.712900,1,0.000000
13552,Taiwan*,2020-01-22,23.700000,121.000000,1,0.000000
7200,Japan,2020-01-22,36.000000,138.000000,2,0.693147
12722,South Korea,2020-01-22,36.000000,128.000000,1,0.000000

In [9]:
# same preprocessing for deaths data
deaths_grouped_df = covid_deaths_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Deaths': 'sum'}).reset_index()
deaths_grouped_df['Date'] = pd.to_datetime(deaths_grouped_df['Date']).dt.date
deaths_grouped_df = deaths_grouped_df.sort_values(by=['Date'])
deaths_grouped_df['log_deaths'] = np.log(deaths_grouped_df['Deaths'])
deaths_grouped_df

,Country/Region,Date,Lat,Long,Deaths,log_deaths
2093,China,2020-01-22,30.975600,112.270700,17,2.833213
2094,China,2020-01-23,35.262300,114.200650,18,2.890372
2095,China,2020-01-24,39.462200,118.720933,26,3.258097
2096,China,2020-01-25,39.462200,118.720933,42,3.737670
2097,China,2020-01-26,36.694120,118.245180,56,4.025352
2098,China,2020-01-27,34.692700,116.769343,82,4.406719
2099,China,2020-01-28,34.692700,116.769343,131,4.875197
2100,China,2020-01-29,34.183250,115.011963,133,4.890349
2101,China,2020-01-30,34.183250,115.011963,171,5.141664
2102,China,2020-01-31,34.183250,115.011963,213,5.361292
2103,China,2020-02-01,33.724800,114.218856,259,5.556828
7645,Philippines,2020-02-02,13.000000,122.000000,1,0.000000
2114,China,2020-02-02,33.724800,114.218856,361,5.888878
2125,China,2020-02-03,33.724800,114.218856,425,6.052089
7656,Philippines,2020-02-03,13.000000,122.000000,1,0.000000
2126,China,2020-02-04,32.582320,114.216970,491,6.196444
7657,Philippines,2020-02-04,13.000000,122.000000,1,0.000000
2127,China,2020-02-05,32.662000,113.863958,563,6.333280
7658,Philippines,2020-02-05,13.000000,122.000000,1,0.000000
2128,China,2020-02-06,32.662000,113.863958,633,6.450470
7659,Philippines,2020-02-06,13.000000,122.000000,1,0.000000
7660,Philippines,2020-02-07,13.000000,122.000000,1,0.000000
2129,China,2020-02-07,32.782271,114.713157,718,6.576470
2130,China,2020-02-08,32.773256,113.671956,805,6.690842
7661,Philippines,2020-02-08,13.000000,122.000000,1,0.000000
7662,Philippines,2020-02-09,13.000000,122.000000,1,0.000000
2131,China,2020-02-09,32.440542,113.837663,905,6.807935
2104,China,2020-02-10,32.199215,113.931885,1012,6.919684
7635,Philippines,2020-02-10,13.000000,122.000000,1,0.000000
2105,China,2020-02-11,32.199215,113.931885,1112,7.013915
...,...,...,...,...,...,...
9246,Switzerland,2020-05-25,46.818200,8.227500,1913,7.556428
1618,Bulgaria,2020-05-25,42.733900,25.485800,130,4.867534
6828,Mozambique,2020-05-25,-18.665695,35.529562,1,0.000000
1183,Belize,2020-05-25,13.193900,-59.543200,2,0.693147
4170,Guinea,2020-05-25,9.945600,-9.696600,20,2.995732
10379,West Bank and Gaza,2020-05-25,31.952200,35.233200,3,1.098612
4681,Indonesia,2020-05-25,-0.789300,113.921300,1391,7.237778
8902,Spain,2020-05-25,40.000000,-4.000000,26834,10.197425
459,Argentina,2020-05-25,-38.416100,-63.616700,467,6.146329
4605,India,2020-05-25,21.000000,78.000000,4172,8.336151
1233,Benin,2020-05-25,9.307700,2.315800,3,1.098612
4529,Iceland,2020-05-25,64.963100,-19.020800,10,2.302585
6418,Mauritania,2020-05-25,21.007900,10.940800,9,2.197225
4459,Hungary,2020-05-25,47.162500,19.503300,491,6.196444
6484,Mauritius,2020-05-25,-20.200000,57.500000,10,2.302585
1291,Bolivia,2020-05-25,-16.290200,-63.588700,261,5.564520
380,Antigua and Barbuda,2020-05-25,17.060800,-61.796400,3,1.098612
10058,United Arab Emirates,2020-05-25,24.000000,54.000000,248,5.513429
8187,Sao Tome and Principe,2020-05-25,0.186360,6.613081,11,2.397895
8961,Sri Lanka,2020-05-25,7.000000,81.000000,10,2.302585
4387,Honduras,2020-05-25,15.200000,-86.241900,182,5.204007
4326,Haiti,2020-05-25,18.971200,-72.285200,27,3.295837
4275,Guyana,2020-05-25,5.000000,-58.750000,11,2.397895
6621,Moldova,2020-05-25,47.411600,28.369900,261,5.564520
8162,San Marino,2020-05-25,43.942400,12.457800,42,3.737670
9035,Sudan,2020-05-25,12.862800,30.217600,170,5.135798
4200,Guinea-Bissau,2020-05-25,11.803700,-15.180400,7,1.945910
1357,Bosnia and Herzegovina,2020-05-25,43.915900,17.679100,146,4.983607
6552,Mexico,2020-05-25,23.634500,-102.552800,7633,8.940236
7741,Philippines,2020-05-25,13.000000,122.000000,873,6.771936

In [8]:
app = JupyterDash("Covid Dashboard")

app.layout = html.Div([
    html.H1('Covid-19 Tracker'),
    dcc.RadioItems(
        id='type-selector',
        options=[{'label': i, 'value': i} for i in ['confirmed', 'deaths']],
        value='confirmed',
        style={'margin-top': '60px'}
    ),
    dcc.Graph(id='covid-map')
], style={'text-align':'center'})

@app.callback(
    Output('covid-map', 'figure'),
    [Input('type-selector', 'value')])
def update_figure(selected_type):
    df = confirmed_grouped_df if selected_type == 'confirmed' else deaths_grouped_df
    return (
        px.scatter_geo(df,
            lat = df['Lat'],
            lon = df['Long'],
            color=df['log_' + selected_type],
            opacity=0.4,
            hover_name=df['Country/Region'],
            size=df['log_' + selected_type],
            animation_frame=df['Date'].astype(str),
            projection="natural earth")
    )

app