In [1]:
import pandas as pd

In [2]:
covid_df = pd.read_csv("covid_19_clean_complete.csv")
covid_confirmed_df = covid_df[covid_df['Confirmed'] > 0]

In [19]:
covid_confirmed_df.head(100)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
49,Anhui,China,31.8257,117.2264,1/22/20,1,0,0
50,Beijing,China,40.1824,116.4142,1/22/20,14,0,0
51,Chongqing,China,30.0572,107.8740,1/22/20,6,0,0
52,Fujian,China,26.0789,117.9874,1/22/20,1,0,0
54,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
55,Guangxi,China,23.8298,108.7881,1/22/20,2,0,0
56,Guizhou,China,26.8154,106.8748,1/22/20,1,0,0
57,Hainan,China,19.1959,109.7453,1/22/20,4,0,0
58,Hebei,China,39.5490,116.1306,1/22/20,1,0,0
60,Henan,China,33.8820,113.6140,1/22/20,5,0,0
62,Hubei,China,30.9756,112.2707,1/22/20,444,17,28
63,Hunan,China,27.6104,111.7088,1/22/20,4,0,0
65,Jiangsu,China,32.9711,119.4550,1/22/20,1,0,0
66,Jiangxi,China,27.6140,115.7221,1/22/20,2,0,0
68,Liaoning,China,41.2956,122.6085,1/22/20,2,0,0
69,Macau,China,22.1667,113.5500,1/22/20,1,0,0
70,Ningxia,China,37.2692,106.1655,1/22/20,1,0,0
73,Shandong,China,36.3427,118.1498,1/22/20,2,0,0
74,Shanghai,China,31.2020,121.4491,1/22/20,9,0,0
75,Shanxi,China,37.5777,112.2922,1/22/20,1,0,0
76,Sichuan,China,30.6171,102.7103,1/22/20,5,0,0
77,Tianjin,China,39.3054,117.3230,1/22/20,4,0,0
80,Yunnan,China,24.9740,101.4870,1/22/20,1,0,0
81,Zhejiang,China,29.1832,120.0934,1/22/20,10,0,0
139,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
143,NaN,South Korea,36.0000,128.0000,1/22/20,1,0,0
207,NaN,Taiwan*,23.7000,121.0000,1/22/20,1,0,0
209,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
225,NaN,US,37.0902,-95.7129,1/22/20,1,0,0
314,Anhui,China,31.8257,117.2264,1/23/20,9,0,0
...,...,...,...,...,...,...,...,...
583,Gansu,China,37.8099,101.0583,1/24/20,2,0,0
584,Guangdong,China,23.3417,113.4244,1/24/20,53,0,2
585,Guangxi,China,23.8298,108.7881,1/24/20,23,0,0
586,Guizhou,China,26.8154,106.8748,1/24/20,3,0,0
587,Hainan,China,19.1959,109.7453,1/24/20,8,0,0
588,Hebei,China,39.5490,116.1306,1/24/20,2,1,0
589,Heilongjiang,China,47.8620,127.7615,1/24/20,4,1,0
590,Henan,China,33.8820,113.6140,1/24/20,9,0,0
591,Hong Kong,China,22.3000,114.2000,1/24/20,2,0,0
592,Hubei,China,30.9756,112.2707,1/24/20,549,24,31
593,Hunan,China,27.6104,111.7088,1/24/20,24,0,0
594,Inner Mongolia,China,44.0935,113.9448,1/24/20,1,0,0
595,Jiangsu,China,32.9711,119.4550,1/24/20,9,0,0
596,Jiangxi,China,27.6140,115.7221,1/24/20,18,0,0
597,Jilin,China,43.6661,126.1923,1/24/20,3,0,0
598,Liaoning,China,41.2956,122.6085,1/24/20,4,0,0
599,Macau,China,22.1667,113.5500,1/24/20,2,0,0
600,Ningxia,China,37.2692,106.1655,1/24/20,2,0,0
602,Shaanxi,China,35.1917,108.8701,1/24/20,5,0,0
603,Shandong,China,36.3427,118.1498,1/24/20,15,0,0
604,Shanghai,China,31.2020,121.4491,1/24/20,20,0,0
605,Shanxi,China,37.5777,112.2922,1/24/20,1,0,0
606,Sichuan,China,30.6171,102.7103,1/24/20,15,0,0
607,Tianjin,China,39.3054,117.3230,1/24/20,8,0,0
609,Xinjiang,China,41.1129,85.2401,1/24/20,2,0,0
610,Yunnan,China,24.9740,101.4870,1/24/20,5,0,0
611,Zhejiang,China,29.1832,120.0934,1/24/20,43,0,1
646,NaN,France,46.2276,2.2137,1/24/20,2,0,0
669,NaN,Japan,36.0000,138.0000,1/24/20,2,0,0
673,NaN,South Korea,36.0000,128.0000,1/24/20,2,0,0

In [61]:
print(covid_confirmed_df.groupby(["Country/Region", "Date"]).agg(
    sum_confirmation = pd.NamedAgg(column = "Confirmed", aggfuction = sum),
    me_lat = pd. NamedAgg(column = "Lat", aggfunction = median),
    me_long = pd.NamedAgg(column = "Long", aggfunction =median)))

AttributeError: module 'pandas' has no attribute 'NamedAgg'

In [65]:
grouped_df = covid_confirmed_df.groupby(["Country/Region", "Date"]).agg({'Lat': 'mean',
    'Long': 'mean', 'Confirmed': 'sum'})
grouped_df.shape[1]

                         Lat  Long  Confirmed
Country/Region Date
Afghanistan    2/24/20  33.0  65.0          1
               2/25/20  33.0  65.0          1
               2/26/20  33.0  65.0          1
               2/27/20  33.0  65.0          1
               2/28/20  33.0  65.0          1
               2/29/20  33.0  65.0          1
               3/1/20   33.0  65.0          1
               3/10/20  33.0  65.0          5
               3/11/20  33.0  65.0          7
               3/12/20  33.0  65.0          7

In [62]:
import plotly.express as px
df = px.data.gapminder()

In [16]:
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4